<head>
  <title>CV</title>
 
</head>

<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">

<body>

<div class="container" >
  <div id="topheader">
  <nav class="navbar navbar-inverse" id="home">
      <div class="navbar-header">
        
 
        <ul class="nav navbar-nav">
          <li ><a href="#profile">Profile</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#education">Education</a></li>
          <li><a href="#skill">Skill</a></li>
         
          <li><a href="#project">Project</a></li>
          
        </ul>
     </div> 
  </nav>
  </div>  
   <div class="jumbotron jumbo-background" id="profile">
  
     <div class="row">
      <div class="col-sm-9">
        <div class="intro-text">
          <h1>Profile</h1>
    <hr class="star-bright">
          <h3>
          Name &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp : Aldo Prakoso <br>
          Date of Birth&nbsp&nbsp: Jakarta,  June 2nd 1993  <br>
          Sex	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	: Male<br>
          Religion	&nbsp&nbsp&nbsp&nbsp&nbsp	: Catholic <br>
          Nationality &nbsp&nbsp		: Indonesia<br>
          Email	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	: aldoprakoso1@gmail.com<br>
Phone &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp		: +628174950851</br>
  
  
          </h3> 
          <hr class="star-bright">
          <span class="skill "><a href="https://github.com/aldoalprak" target="_blank"><button type="button" class="btn btn-git col-sm-4"><i class="fa fa-github" aria-hidden="true"></i> Github</button></a>
            
<a href="https://www.freecodecamp.org/aldoalprak" target="_blank"><button type="button" class="btn btn-freeCodeCamp col-sm-4" ><i class="fa fa-free-code-camp" aria-hidden="true"></i> FreeCodeCamp</button></a>
  
<a href="https://www.linkedin.com/in/aldo-prakoso-9a1941101" target="_blank"><button type="button" class="btn btn-linkedin col-sm-4"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</button></a>            
            
</span>
        </div>  
      </div>
      <div class="col-sm-3">
        <img src="https://www.dropbox.com/s/kjb1bd48ul4wp2a/AldoPrakoso.JPG?raw=1" class="img-responsive img-rectangle profile-img" alt="Profile">  
      </div>
    </div>
  </div>
  
  <div class="jumbotron jumbo-background" id="about">
    <h1>About</h1>
    <hr class='star-bright'>
    <p>I'm a person who loves challenge and always interested to learn new things. I see a problem as a challenge to make
me me grow as a person. I always try to break my limit and eliminate the mental wall. Stay hungry and Stay Foolish is my motto.    </p>
  </div>
  
  
 <div class="jumbotron jumbo-background" id="experience">
    <h1>Experience</h1>
    <hr clas="star-bright">
   
   <h3 id="workTitle"><Strong>Estimator and Web Developer</strong></h3>
   <h4 id="workTitle">PT. Saranacitra Dutajaya <br>Jun 2016-Present</h4>      
    <p>
    PT. Saranacitra Dutajaya is a mechanical and electrical contractor company based in Jakarta.The company has collaborate with many big developer, industries and main contractor such as PT. Agung Podomoro Land, PT. Jaya Konstruksi, PT. Indofood CBP Sukses Makmur, PT. Total Bangun Persada, PT. Tata Mulia Nusantara, and many more
<br><br>
There are 2 roles that I'm doing here in this company.
<br><br>      
1. Estimator
As an estimator my main duty is Project Budgeting<br>
In tender/bidding process we need to propose our price quotation to execute a project, so my duty here is to make a price quotation that should coverage all the cost in optimum way so we can win the bidding and also get a nice profit.
This work needs a knowledge of both technical understanding and material budgeting. There are 4 main technical understanding should be understood : Plumbing System, Electrical System. Electronic System, and HVAC System.
<br><br>
2. Web and Apps Developer <br>
Develop the website for this company so it can be known in the digital world. I'm using wordpress as CMS and iPage as the host to develop this website.
For the web based application, I've made an apps to make a progress process easier. FYI, a progress process is a process to collect a fee, based on what we have installed in a project.  
   </p>
 <br>
 <br>  
 <h3 id="workTitle"><Strong>Digital Marketing</strong></h3>
   <h4 id="workTitle">DocDoc Pte. Ltd. <br>Sept 2015-May 2016</h4>      
    <p>
   DocDoc is a portal to help you find great doctors, dentists, and other healthcare providers, read verified patient reviews (where available), and instantly book appointments– no phone calls needed! The service is absolutely free for patients. 
<br><br>
As Digital Marketing, my main duties are to maintain and optimize online campaign (using Google Adwords) to increase leads and analyze when there's an issue. Also, I help another team to monitor theirs project traffic and find out the issue with Google Analytics.
  <br>
 <br>  
 <h3 id="workTitle"><Strong>Automation Laboratory Assistant</strong></h3>
   <h4 id="workTitle">Universitas Katolik Parahyangan <br>Jan 2015-Jun 2015</h4>      
    <p>
   Main duty: teaching undergraduate students about automation lessons such as Programable Logic Controller (Siemens) and Lego Mindstorms.
  
  </div>
  <div class="jumbotron jumbo-background" id="education">
  <h1>Education</h1>
    <hr class="star-bright">
    <h3 id="workTitle"><Strong>freeCodeCamp</strong></h3>
   <h4 id="workTitle">2017-present</h4>      
    <p>Front End Development Course</p>
  <br><br>
    <h3 id="workTitle"><Strong>Codecademy</strong></h3>
   <h4 id="workTitle">2016-2017</h4>      
    <p>Javascript Course</p>
    <br><br>
    <h3 id="workTitle"><Strong>Universitas Katolik Parahyangan</strong></h3>
   <h4 id="workTitle">2011-2015</h4>      
    <p>Bachelor's Degree in Industrial Engineering</p> 
  </div>
  
   
  <div class="jumbotron jumbo-background" id="skill">
    <h1>Skill</h1>
    <hr class="star-bright">
    <h3>Hard Skill</h3>
    
    <ol >
      <li>Basic HTML,CSS,Javascript, and Nodejs</li>
        <li>Basic Selenium Web Driver</li>
      <li>Basic Phantomjs</li>
      <li>Google Spreadsheet</li>
      <li>Basic Google Script</li>
      <li>Microsoft Word,Excel,PowerPoint</li>
      <li>Material Budgetng</li>
      <li>Plumbing System</li>
      <li>Electrical System</li>
      <li>Electronic System</li>
      <li>HVAC System</li>
      <li>Google Adwords</li>
      <li>Google Analytics</li>
    </ol>
    <h3>Soft Skill</h3>
    <ol  id="list">
      <li>Accustomed to work in team and individually</li>
      <li>Accustomed to work under pressure</li>
      <li>Interpersonal skill</li>
      <li>Presentation skill</li>
    </ol>
    
  </div>
  
  
  <div class="jumbotron jumbo-background" id="project">
      <h1>Project</h1>
      <hr class="star-bright">
    
      <h3 id="workTitle"><strong>Auto Promote Tokopedia Tool</strong></h3>
   <h4 id="workTitle">Feb 2017-Present</h4>      
    <p>
   This is the tool to auto promote a product in Tokopedia.<br>
      I'm using selenium web driver and node.js to make this tool.</p>
      <a id ="projectlink" href=https://github.com/aldoalprak/Tokped-Auto-Promote> See Project Here </a>
      
     <br><br>
   <h3 id="workTitle"><Strong>Auto Generating Tool for Making  Minute Of Installation</strong></h3>
   <h4 id="workTitle">Oct 2017-Mar 2018</h4>      
    <p>
   The purpose of this app is to make a progress process more efficient. FYI, a progress process is a process to collect a fee, based on what we material that has been installed in a project. This process needs many requirements, one of them is minutes of installation (Berita Acara Pemasangan) . So, in conventional way, the process is like this:
<br>      
1.Supervisor should take a picture for the material that has been installed ,<br>
2.Supervisor give the picture to a project admin,<br>
3.Project Admin should type all the information to  the template such as time when the picture was taken, floor level,etc and choose the picture to insert in minutes of installation.
<br><br>
With this apps, a supervisor directly just input all the information needed and take the picture via Appsheet that connect to Google Spreadsheet in his smartphone then with the help of Google Script, spreadsheet will automatically generate all the information and picture to become a ready to print minutes of installation. </p>
    <br><br>
    <h3 id="workTitle"><Strong>Evaluating and Redesign Lazada Website Using Eyetracking Analysis and Usability Concept</strong></h3>
   <h4 id="workTitle">Jan 2015-Jun 2015</h4>      
    <p>
   Evaluating Lazada website using Tobii Eyetracker and Usability concept (Effectiveness, Efficiency, Learnability, and Satisfaction) to make a great user experience when doing online shopping. After evaluating the website and find the usability problems, I made the new design using invisionapp and test it again to the users.</p>
    <br><br>
    <h3 id="workTitle"><Strong>Darth Vader Sound Board Android App</strong></h3>
   <h4 id="workTitle">Dec 2014-Dec 2014</h4>      
    <p>I made this application is just for fun and to learn a little bit about Android Application. This application was made by MIT App Inventor 2, this software allows you to make app without coding. For further information, you can check this link:<a href= "ai2.appinventor.mit.edu/">here</a> <br>

To try my app :<br>
1. Download it via dropbox<br>
2. In you phone go to "Settings > Security" or "Settings > Security & Screen Lock" and then check the box next to "Unknown Sources" 
<br><br>
NOTE : This App only tested on Moto G (XT1032) and haven't tested in any platforms, so it's possible there's a mess layout appear in your phone.<br>
<a href=https://www.dropbox.com/s/vxbxw5s34hnuv8c/DarthVader.apk?dl=0> Download Project Here </a>      
   </p>
      
   </div>
  
         
  <footer class="container-fluid text-center">
    <a href="#topheader" title="To Top">
      <i class="fa fa-arrow-circle-up   fa-5x" aria-hidden="true"></i>
    </a><br />
    <p >Made By Aldo</p>
 
  </footer>
  
 </div> 
  
</body>  
 <canvas id="c"></canvas>